@font-face {
    font-family: $textogral;
    src: url(./../css/fuentes/Montserrat-VariableFont_wght.ttf);

}

@font-face {
    font-family: $titulos;
    src: url(./../css/fuentes/RubikDirt-Regular.ttf);
}


body {
    background-color: $color-fondo;
    font-family: $textogral;
    font-size: 100%;
}

@mixin eleccion {
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.eleccion-compra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    @include eleccion;

}

.eleccion-marcas {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 50px 250px;
    @include eleccion;


}

.compra-responsive {
    display: none;
}

.texto-compra {
    color: $textonegro;
    text-align: center;
    margin-top: 4%;
}


.texto {
    color: $textoblanco;
    font-size: 25px;
    text-align: center;
    font-family: $titulos;
    border-radius: 8px;
    transition: all 0.5s;

}

.borde {
    border: solid 3px;
}

.borde-uno {
    border: none;
}

.color-compra {
    background-color: $morado;

    &:hover {
        color: $fucsia;
    }
}

.border-e {
    border: solid 1px white;
}

.color-envios {
    background-color: $morado;
}

.color-claro {
    background-color: $moradoclaro;
}

.color-numeros {
    background-color: $fucsia;
    font-family: $titulos;
    transition: all 3s;

    &:hover {
        background-color: $morado;
        font-family: $titulos;
        transform: scale(1.1);
    }
}


.h5 .h2 {
    margin: 0;
}

.camion {
    transition: all 3s;

    &:hover {
        transform: translate(600%);
    }
}

iframe {
    margin-top: 70px;
    border-radius: 15px;
}