
.titulo-footer {
    color: rgb(247, 245, 250);
    font-family: "RubikDirt-Regular";
    font-size: 200%;
    transition: all 0.5s;
}

.titulo-footer:hover {
    color: rgb(255, 0, 128);
    transform: scale(1.4);
}