#formulario {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.form-titulo {
    font-family: $titulos;
    transition: all 0.5s;

    &:hover {
        font-family: $titulos;
        color: $textoblanco;
        transform: scale(1.1);
    }
}


form {
    margin-top: 50px;
    width: 300px;
    background-color: rgb(138, 103, 204);
    border-radius: 30px;
    padding: 30px;
}

textarea,
input {
    outline: none;

    &:focus {
        border-color: $fucsia;
    }
}

.boton-enviar {
    background-color: $fucsia;
    padding: 10px;
    width: 240px;
}