.titulo-portada {
    color: $morado;
    text-align: center;
    font-family: $titulos;
    font-size: 600%;
    transition: all 03s;

    &:hover {
        color: $fucsia;

    }
}


.bloque {
    text-align: center;
}