$color-fondo: rgb(196, 252, 252);
$morado: rgb(75, 37, 145);
$moradoclaro: rgb(138, 103, 204);
$fucsia: rgb(255, 0, 128);
$textonegro: rgb(0, 0, 0);
$textoblanco: rgb(255, 255, 255);
$titulos: "RubikDirt-Regular";
$textogral: "Montserrat-VariableFont";