#formulario {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.form-titulo {
    font-family: "RubikDirt-Regular";
    transition: all 0.5s;
}

.form-titulo:hover {
    font-family: "RubikDirt-Regular";
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}


form {
    margin-top: 50px;
    width: 300px;
    background-color: rgb(138, 103, 204);
    border-radius: 30px;
    padding: 30px;
}

textarea,
input {
    outline: none;
}

textarea:focus {
    border-color: rgb(255, 57, 156);
}


input:focus {
    border-color: rgb(255, 57, 156);
}

.boton-enviar {
    background-color: rgb(255, 57, 156);
    padding: 10px;
    width: 240px;
}