@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-redes {
  text-decoration: none;
  color: #4b2591;
  transition: all 0.5s; }
  .nav-redes:hover {
    text-decoration: none;
    color: #ff0080; }

.titulo-portada {
  color: #4b2591;
  text-align: center;
  font-family: "RubikDirt-Regular";
  font-size: 600%;
  transition: all 03s; }
  .titulo-portada:hover {
    color: #ff0080; }

.bloque {
  text-align: center; }

@font-face {
  font-family: "Montserrat-VariableFont";
  src: url(./../css/fuentes/Montserrat-VariableFont_wght.ttf); }

@font-face {
  font-family: "RubikDirt-Regular";
  src: url(./../css/fuentes/RubikDirt-Regular.ttf); }

body {
  background-color: #c4fcfc;
  font-family: "Montserrat-VariableFont";
  font-size: 100%; }

.eleccion-compra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 60% 30%;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between; }

.eleccion-marcas {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 50px 250px;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between; }

.compra-responsive {
  display: none; }

.texto-compra {
  color: black;
  text-align: center;
  margin-top: 4%; }

.texto {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "RubikDirt-Regular";
  border-radius: 8px;
  transition: all 0.5s; }

.borde {
  border: solid 3px; }

.borde-uno {
  border: none; }

.color-compra {
  background-color: #4b2591; }
  .color-compra:hover {
    color: #ff0080; }

.border-e {
  border: solid 1px white; }

.color-envios {
  background-color: #4b2591; }

.color-claro {
  background-color: #8a67cc; }

.color-numeros {
  background-color: #ff0080;
  font-family: "RubikDirt-Regular";
  transition: all 3s; }
  .color-numeros:hover {
    background-color: #4b2591;
    font-family: "RubikDirt-Regular";
    transform: scale(1.1); }

.h5 .h2 {
  margin: 0; }

.camion {
  transition: all 3s; }
  .camion:hover {
    transform: translate(600%); }

iframe {
  margin-top: 70px;
  border-radius: 15px; }

/* Definimos un map: allí guardamos un par de datos, en este caso compra y su color, envios y su color, etc */
.compra-color {
  background-color: black; }

.envios-color {
  background-color: #4b2591; }

.claro-color {
  background-color: #ff0080; }

.numeros-color {
  background-color: #ff0080; }

#formulario {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.form-titulo {
  font-family: "RubikDirt-Regular";
  transition: all 0.5s; }
  .form-titulo:hover {
    font-family: "RubikDirt-Regular";
    color: white;
    transform: scale(1.1); }

form {
  margin-top: 50px;
  width: 300px;
  background-color: #8a67cc;
  border-radius: 30px;
  padding: 30px; }

textarea,
input {
  outline: none; }
  textarea:focus,
  input:focus {
    border-color: #ff0080; }

.boton-enviar {
  background-color: #ff0080;
  padding: 10px;
  width: 240px; }

.titulo-footer {
  color: white;
  font-family: "RubikDirt-Regular";
  font-size: 200%;
  transition: all 0.5s; }
  .titulo-footer:hover {
    color: #ff0080;
    transform: scale(1.4); }

@media screen and (max-width: 768px) {
  .titulo-portada {
    color: #4b2591;
    text-align: center;
    font-family: "RubikDirt-Regular";
    font-size: 400%; } }

@media screen and (max-width: 768px) {
  .eleccion-compra {
    display: none; }
  .compra-responsive {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
    flex-direction: column;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .eleccion-marcas {
    display: none; } }

@media screen and (max-width: 768px) {
  #formulario {
    display: flex;
    align-items: center;
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .iframe-lg {
    display: none; }
  .iframe-responsive {
    border-radius: 5px; } }

@media screen and (min-width: 769px) {
  .iframe-responsive {
    display: none; } }
