.titulo-portada {
    color: rgb(75, 37, 145);
    text-align: center;
    font-family: "RubikDirt-Regular";
    font-size: 600%;
    transition: all 03s;
}

.titulo-portada:hover {
    color: rgb(255, 0, 128);
    
}

.bloque {
    text-align: center;
}